.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    /*flex-grow, flex-shrink, flex-basis */
    flex: 1 1 100%;
}

.column .column {
    flex-basis: 50%;
}

@media screen and (min-width: 700px) {
    .column {
        flex: 1;
    }

    .column .column {
        flex: 1;
    }

    ._40 {
        flex: 4;
    }

    ._60 {
        flex: 6;
    }
}

