@import './Grid.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 2rem 0;
    font-weight: 700;
    text-align: center;
}

a, a:hover {
    text-decoration: none;
}

/* Mobile */
 .app {
     width: 95%;
     margin: 40px auto;
 }

 mobile-padding-x-30 {
     padding-right: 30px;
     padding-left: 30px;
 }



/* Desktop */

@media screen and (min-width: 700px) {
    h1,
    h2,
    h3 {
      text-align: left;
    }
    
    .app {
       max-width: 1220px; 
    }
   
    mobile-padding-x-30 {
        padding-right: 0;
        padding-left: 0;
    }

    .padding-left-40 {
        padding-left: 40px;
    }

    .padding-right-40 {
        padding-right: 40px;
    }

    .padding-x-40 {
        padding-right: 40px;
        padding-left: 40px;
    }
   
}